

/* -------------------------  */
/* add google fonts  */
/* ------------------------ - */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
margin: 0;
}

/* -------------------- */
/* navigation section style  */
/* -----------------------  */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;
}
.nav-header{
    margin-left: 120px;
}
.nav-item{
    margin-right: 120px;
}

.nav-item a{
    text-decoration: none;
    margin-left: 34px;
    font-size: 16px;
    font-weight: 700;
    color:black;
    
}
.nav-item span{
    margin-left: 34px;
}
/* ---------------------------  */
/* company-logo  */
.company-logo{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;

}
.company-logo img{

    margin-left: 75px;
    padding:4px;
    width:55px;
    height: 31px;
}




/* -------------- */
/* product introduction  */
 .product-intro{
     display: flex;
     align-items: center;
     margin-top: 145px;
     margin-left: 120px;
     margin-right: 165px;
 }
 .product-intro img {
     width: 440px;
     height: 414px;
 }
 .product-details{
     width:582px;
     height: 272x;
     margin-right: 135px;
    
 }
 .font-size{
     font-size:52px;
     font-weight: 700;
 }
 #font{
     font-size: 16px;
     font-weight: 600;
 }
 .decoration-remove{
     text-decoration: none;
     color:#FFFFFF;
     font-size: 16px;
     font-weight: 550;
     background-color: #E02C6D;
     padding: 10px 24px 10px 24px;
     border-radius: 41px;
 }
 /* ------------------------  */
 /* popular collection area  */
 .product-title{
     text-align: center;
     font-size:28px;
     font-weight: 600;
     margin-top: 100px;
 }
 .product{
     width: 329px;
     height: 476px;
     margin-bottom: 30px;
     border-radius: 7px;
     padding:10px;
     box-shadow: 10px 10px 10px 10px rgb(240, 235, 235);
 }
 .product img{
     width:300px;
     height:256px;
     margin:12px;
 }
 .product-name{
     font-size:28px;
     font-weight: 500;
     margin-top: 5px;
     margin-bottom: 5px;
 }
 .price{
     font-size: 24px;
     font-weight: 400;
 }
 .star{
    color: #FB8200;
    width: 11.07px;
    height: 10.30px;
    font-weight: 100;
 }
 .rating{
     margin-left: 8px;
     font-size: 14px;
     font-weight: 700;
 }
 .shipping{
     font-size: 14px;
     font-weight: 700;
 }



 .popular-collection{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     margin-left: 96px;
     margin-right: 96px;
     margin-bottom: 50px;
 }
 .see-more{
     text-decoration: none;
     color:#E02C6D;
     font-size: 16px;
     font-weight: 700;
     display: flex;
     justify-content: right;
     align-items: center;
     margin-right: 221px;

 }
 
 .icon-gap{
     margin-right: 10px;
 }


 /* extra features styles  */

 .order-confirm{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
    
 }
 .order-confirm img{
     width:100%;
 }
 .img{
     width:40%;
     margin-left: 5%;
     margin-right: 5%;
 }
 .dimension{
     width:40%;
     height:380px;
     border-radius: 9px;
     box-shadow: 5px 10px 8px 10px gainsboro;
     padding-left: 10px;
     padding-right: 10px;
     margin-right: 5%;
     margin-left: 5%;
    
 }
 .input{
     width:30.5em;
     padding:10px 50px;
     margin-bottom: 10px;
     box-shadow: 2px 2px 2px gainsboro;
     border-radius: 5px;

 }
 .login-button{
     background-color: #E02C6D;
     padding:8px;
     border:1px #E02C6D;
     border-radius: 2px;
     font-size: 16px;
     color:white;
     text-align: center;
 }
 .center{
     text-align: center;
     color:rgb(25, 25, 129);
     font-weight: 700;
 }
 .sign-in{
     text-align: center;
     color:plum;
     font-size: 28px;
     font-weight: 700;

 }
 /* ------------------------ */
 /* style of footer section  */
 
 
 .footer-section{
background-color: rgb(10, 10, 66);
color:white;
text-align:center;
margin-top: 100px;
padding:10px;
padding-bottom: 15px;
 }
 .font-style a{
     color:white;
     text-decoration: none;
     margin-left: 20px;
     
    }